<form [formGroup]="passenger_form" (ngSubmit)="submit()">
  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="first_name">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="first_name"  formControlName="first_name" [ngClass]="{'is-invalid': control_is_invalid('first_name')}">
      <div *ngIf="control_is_invalid('first_name')" class="invalid-feedback">
        {{ validation_error_msg('first_name') }}
      </div>

    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="last_name">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="last_name"  formControlName="last_name" [ngClass]="{'is-invalid': control_is_invalid('last_name')}">
      <div *ngIf="control_is_invalid('last_name')" class="invalid-feedback">
        {{ validation_error_msg('last_name') }}
      </div>

    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="id">Id</label>
    <div class="col-sm-10">

      <input type="number" class="form-control form-control-sm" id="id"  formControlName="id" [ngClass]="{'is-invalid': control_is_invalid('id')}">
      <div *ngIf="control_is_invalid('id')" class="invalid-feedback">
        {{ validation_error_msg('id') }}
      </div>
    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="flight_class">Flight Class</label>
    <div class="col-sm-10">

      <select class="form-control form-control-sm" id="flight_class"  formControlName="flight_class" [ngClass]="{'is-invalid': control_is_invalid('flight_class')}">
        <option *ngFor="let item of flight_class_dropdown" value="{{item?.id}}">{{item?.description}}</option>
      </select>
      <div *ngIf="control_is_invalid('flight_class')" class="invalid-feedback">
        {{ validation_error_msg('flight_class') }}
      </div>
    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="payment_amount">Payment Amount</label>
    <div class="col-sm-10">

      <input type="number" class="form-control form-control-sm" id="payment_amount"  formControlName="payment_amount" [ngClass]="{'is-invalid': control_is_invalid('payment_amount')}">
      <div *ngIf="control_is_invalid('payment_amount')" class="invalid-feedback">
        {{ validation_error_msg('payment_amount') }}
      </div>
    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="flight_number">Flight Number</label>
    <div class="col-sm-10">

      <select class="form-control form-control-sm" id="flight_number"  formControlName="flight_number" [ngClass]="{'is-invalid': control_is_invalid('flight_number')}">
        <option *ngFor="let item of flight_number_dropdown" value="{{item?.flight_number}}">{{item?.flight_number}}</option>
      </select>
      <div *ngIf="control_is_invalid('flight_number')" class="invalid-feedback">
        {{ validation_error_msg('flight_number') }}
      </div>
    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="number_of_bags">Number of Bags</label>
    <div class="col-sm-10">

      <input type="number" class="form-control form-control-sm" id="number_of_bags"  formControlName="number_of_bags" [ngClass]="{'is-invalid': control_is_invalid('number_of_bags')}">
      <div *ngIf="control_is_invalid('number_of_bags')" class="invalid-feedback">
        {{ validation_error_msg('number_of_bags') }}
      </div>
    </div>
  </div>

  <div class="form-group row mt-2 mb-2">
    <label class="col-sm-2" for="total_weight">Total Weight (kg)</label>
    <div class="col-sm-10">

      <input type="number" class="form-control form-control-sm" id="total_weight"  formControlName="total_weight" [ngClass]="{'is-invalid': control_is_invalid('total_weight')}">
      <div *ngIf="control_is_invalid('total_weight')" class="invalid-feedback">
        {{ validation_error_msg('total_weight') }}
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary  mt-3">Add Passenger</button>
</form>
