
<div class="container">

  <h1>Welcome to my sample Application!</h1>
  <p>This webapp only uses local javascript arrays to store data. I suggest you dont refresh the page to prevent resetting the local data. Please use the navigation links below to switch pages.</p>

  <nav class="nav">
    <a class="nav-link" routerLink="/flights">Flights</a>
    <a class="nav-link" routerLink="/passengers">Passengers</a>
  </nav>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
