<div class="card">
  <div class="card-header">
    Passenger Form
  </div>
  <div class="card-body">
    <app-passenger-form (on_success)="add_success($event)"></app-passenger-form>
  </div>
</div>



<br>
<div class="card">
  <div class="card-header">
    Passenger Data
  </div>
  <div class="card-body">
    <div class="col-xl-12 table-responsive" style="background-color: white; max-height: 30rem; min-height: 10rem;">
      <ngx-datatable [rows]="rows" [columns]="columns" class="bootstrap"  [rowHeight]="50" [columnMode]="'force'" > </ngx-datatable>
    </div>
  </div>
</div>

