<form [formGroup]="flight_form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="flight_number">Flight Number</label>
    <input type="number" class="form-control form-control-sm" id="flight_number"  formControlName="flight_number" [ngClass]="{'is-invalid': control_is_invalid('flight_number')}">
    <div *ngIf="control_is_invalid('flight_number')" class="invalid-feedback">
      {{ validation_error_msg('flight_number') }}
    </div>
  </div>

  <div class="form-group">
    <label for="destination">Destination</label>
    <input type="text" class="form-control form-control-sm" id="destination"  formControlName="destination" [ngClass]="{'is-invalid': control_is_invalid('destination')}">
    <div *ngIf="control_is_invalid('destination')" class="invalid-feedback">
      {{ validation_error_msg('destination') }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Add Flight</button>
</form>
